<header>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Super Street Burger II</h1>
        </div>
    </div>
</header>

<div class="container img">

    <div class="container">

        <div class="row d-flex justify-content-center">
            <form class="form-inline">

                <div class="form-group">
                    <div class="col-12 col-md-6">
                        <label for="bn" id="rando-style">
                            <h3 id="rando-style">Create a Custom Burger :</h3>
                        </label>
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="d-inline input-burger" name="name">
                    </div>
                </div>

                <button type="submit" class="create-burger btn-style px-3">Create Burger</button>

            </form>

        </div>
        <div class="row mt-5 d-flex justify-content-between">

            <div class="col-md-5">
                <h3 class="text-center mt-5">Menu</h3>
                <div class="list-group">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <p class="list-group-item list-group-item-action">
                        <button data-id="{{id}}" class="ml-1 mr-4 px-3 btn-style devour-button">
                            Devour
                        </button>
                        {{burger_name}}

                    </p>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>

            <div class="col-md-5 mt-5">
                <h3 class="text-center">Unavailable</h3>
                <div class="list-group">

                    {{#each burgers}}
                    {{#if devoured}}
                    <p class="list-group-item list-group-item-action d-flex justify-content-center">
                        {{burger_name}}
                    </p>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>