body {
	background-color: darkred;
	font-family: "Titan One", cursive;
}

header {
	background-color: #f5e050;
	color: darkred;
	font-family: "Permanent Marker", cursive;
	margin-bottom: 50px;
	padding: 20px;
}

.img {
	background-image: url("/assets/img/super-burger-fighter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 900px;
	max-height: 1000px;
}

h3 {
	font-family: "Permanent Marker", cursive;
	background-color: #f5e050;
	color: darkred;
}

#rando-style {
	padding: 10px;
	border-radius: 12px;
}

.list-group-item {
	background-color: #f5e050;
	color: darkred;
}

.list-group-item:hover {
	background-color: #f5e050;
	color: darkred;
}

.btn-style {
	background-color: darkred;
	border: none;
	color: #f5e050;
	border-radius: 12px;
	padding: 5px;
	margin: 0;
	font-family: "Permanent Marker", cursive;
	box-shadow: 0 14px 17px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.btn-style:hover {
	background-color: darkred;
}

.btn-style:active {
	border: none;
	outline: none;
}
.btn-style:focus {
	outline: none;
	border: none;
}
